/*
COLORS
First blue : #446CB3
Second blue : #6BB9F0
Third blue : #4183D7
*/


html,body{
    margin:0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}
html{
    min-height: 100%;
    position: relative;

}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}

h1{
    margin: 0;
}

.login_register{
    float:right;
    margin-right: 50px;
}
.navbar{
    border: none;
    border-radius: 0px;
}

.navbar-nav > li > a {
    color: #666;
    background: none;
}

.navbar-nav > li > a:hover {
    color: #777;
    background: none;
}
nav li{
    border-left: solid white 1px;
}
nav li:last-child{
    border-right: solid white 1px;
}
nav{
    background:#222222;
}
nav #container{
    background: black;
}

.logo{
    color: white;
    display: inline-block;
    margin:auto;
}
.header_top{
    color: white;
    background: #4183D7;
    height: 50px;
}


#container{
    min-width: 100%;
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* design blocks */

.disc_block_holder{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10px;
}
.disc_block_content h4{
    font-size: 25px;
    margin-left: 5px;
}

.disc_block_content p{
    margin-left: 5px;
}

.disc_block{
    height: 250px;
    max-height: 250px;
}

.disc_block_content{
    display: inline-block;
    background: #ECF0F1;
    min-height: 100%;
    width: 100%;
    /*min-height: 100%;*/
    /*min-width: 100%;*/
    /*margin-top: -10px;*/
}
.disc_img{
    height: auto;
    width: 100%;
}

/*homepage*/
.title_top{
    padding: 0 0 10px 0;
    margin: 0px;
    display: inline-block;
}
.title_container{
    padding-top: 10px;
    width: 100%;
    border-bottom: solid black 1px;
    margin-bottom: 8px;
}

.title_container a{
    padding-left: 5px;
}
